<!DOCTYPE html>
<html>
<head>
	<title='Melon Forum'>
	<link rel='stylesheet' href='index.css'>
</head>
<body>
	<header>
		<h1>Melon Forum</h1>
	</header>

	<%= form_tag('posts#create', method: 'post') do %>
		<%= label_tag(:title, 'Title') %>
		<%= text_field_tag(:title) %>
		<%= label_tag(:content, 'Content') %>
		<%= text_field_tag(:content) %>
		<%= submit_tag('New Post') %>
	<% end %>


	<% @posts.each do |post| %>
		<div class='post-wrapper'>
			<%= link_to post.title, post_path(post) %>
			<p><%= truncate(post.content, length: 50, omission: '... (continued)') %></p>
		</div>
	<% end %>
	
</body>
</html>