<!DOCTYPE html>
<html>
<head>
	<title='Melon Forum'>
	<link rel='stylesheet' href='index.css'>
</head>
<body>
	<nav>
		<%= form_tag('/sessions/1', method: 'delete') do %>
			<%= submit_tag('LOG OUT', class: 'logout-link') %> <br>
		<% end %>
	</nav>
	<section class='margin-wrap'>
		<header>
			<h1>Melon Forum</h1>
		</header>

		<%= form_tag('/posts', method: 'post', class: 'create-post-form', multipart: true) do %>
			<%= label_tag(:title, 'Title') %> <br>
			<%= text_field_tag(:title) %> <br>
			<%= label_tag(:content, 'Content') %> <br>
			<%= text_field_tag(:content, '', class: 'post-input') %> <br>
			<%= label_tag(:title, 'Image Upload') %> <br>
			<%= file_field_tag(:file)  %> <br>
			<%= submit_tag('New Post', class: 'submit-input') %> <br>
		<% end %>
	</section>
</body>
</html>