<!DOCTYPE html>
<html>
<head>
	<title='Melon Forum'>
	<link rel='stylesheet' href='index.css'>
</head>
<body>
	<section class='orig-post-wrapper'>
		<h1><%=@post.title%></h1>
		<p><%=@post.content%></p>
		<p class='author-text'>By <%=@post.user.name%> at <%=@post.created_at.strftime('%b %d, %Y %I:%M%p')%></p>

	<%= form_tag("/posts/#{@post.id}/comments", method: 'post') do %>
		<%= text_field_tag(:content) %>
		<%= submit_tag('Reply') %>
	<% end %>
	</section>

	<div class='all-comments-wrapper'>

		<% @comments.each do |comment| %>
			<div class='comment-wrapper'>
				<p><%=comment.content%></p>
				<p class='author-text'>By <%=comment.user.name%> at <%=comment.created_at.strftime('%b %d, %Y %I:%M%p')%></p>

				<%= form_tag("/posts/#{@post.id}/comments", method: 'post', class: 'reply-form') do %>
					<%= text_field_tag(:content) %>
					<%= submit_tag('Reply') %>
				<% end %>
			</div>
		<% end %>

	</div>
	
</body>
</html>