<!DOCTYPE html>
<html>
<head>
	<title='Melon Forum'>
	<link rel='stylesheet' href='index.css'>
</head>
<body>
	<nav>
		<%= form_tag('/sessions/1', method: 'delete') do %>
			<%= submit_tag('LOG OUT', class: 'logout-link') %> <br>
		<% end %>
	</nav>
	<section class='margin-wrap'>
		<div class='orig-post-wrapper cf'>
			<% if @post.img_url %>
				<img src='<%=@post.img_url%>'></img>
			<% end %>
			<div class='orig-post-text'>
				<h1><%=@post.title%></h1>
				<p><%=@post.content%></p>
				<p class='author-text'>By <%=@post.user.name%> at <%=@post.created_at.strftime('%b %d, %Y %I:%M%p')%></p>

			</div>
			<%= link_to 'Reply', new_post_comment_path(@post.id), class: 'reply-link' %>
		</div>
	</section>

		<div class='all-comments-wrapper'>
			<h4>Comments</h4>

			<% @comments.each do |comment| %>
				
				<% def renderComments(comment) %>
					<div class='comment-wrapper'>
						<p><%=comment.content%></p>
						<p class='author-text'>By <%=comment.user.name%> at <%=comment.created_at.strftime('%b %d, %Y %I:%M%p')%></p>

						<%if comment.comment(1) %>
							<%comment.comment.each do |innerComment| %>
								<% renderComments(innerComment) %>
							<%end%>
						<%end%>

						<%= link_to 'Reply', "/posts/#{@post.id}/comments/new?comment_id=#{comment.id}", class: 'reply-link' %>
					</div>
				<% end %>

				<% renderComments(comment)%>
			<% end %>

		</div>
	</div>
	
</body>
</html>